<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Learning Vue</title>
</head>

<body>
  <div id="root">
    <ul>
      <!-- Loop through each name in names and render it. This will create a set of li elements. The v-text
      directive will set the list element value to the name -->
      <li v-for="name in names" v-text="name"></li>
    </ul>
    <!-- Let the user enter a new name and bind it to the newName property -->
    <input type="text" v-model="newName">
    <!-- Create an event handler for the click event -->
    <button @click="addName">Add Name</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script text="type/javascript" src="/script.js"></script>
</body>

</html>